[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always

[label "Auto-Submit"]
	function = NoBlock
	defaultValue = 0
	value = 0 Do not send CL to CQ automatically after approval
	value = +1 Send CL to CQ automatically after approval
	copyCondition = changekind:NO_CHANGE OR changekind:NO_CODE_CHANGE OR changekind:TRIVIAL_REBASE OR is:MAX OR is:MIN

[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyCondition = changekind:NO_CHANGE

[access "refs/heads/*"]
	label-Auto-Submit = +0..+1 group Change Owner
	label-Commit-Queue = +0..+2 group Change Owner
	label-Commit-Queue = +0..+2 group cria/project-pdfium-committers
	label-Commit-Queue = +0..+1 group Registered Users
	labelAs-Commit-Queue = +0..+2 group pdfium-scoped@luci-project-accounts.iam.gserviceaccount.com
	submit = group pdfium-scoped@luci-project-accounts.iam.gserviceaccount.com
	read = group pdfium-scoped@luci-project-accounts.iam.gserviceaccount.com
	push = group mdb/copybara-git-writers
	forgeAuthor = group mdb/copybara-git-writers
	forgeAuthor = group pdfium-scoped@luci-project-accounts.iam.gserviceaccount.com
	forgeCommitter = group mdb/copybara-git-writers
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
[access "refs/*"]
	deleteOwnChanges = group chrome-cherry-picker
